{% extends 'master.html' %}

{% block content %}
    <div class="container-fluid">
    <div class="container">

        <div class="container justify-content-center">
            <div class="d-flex justify-content-around">
                <img src="../static/images/lipfour.png" alt="dress">
                <img src="../static/images/lipseven.png" alt="dress">
                <img src="../static/images/makeupseven.png" alt="dress">
            </div>
            <!--<div class="d-flex justify-content-around">
                <button class="btn btn-primary  my-2 p-3 ">Buy</button>
                <button class="btn btn-primary  my-2 p-3 ">Buy</button>
                <button class="btn btn-primary  my-2 p-3 ">Buy</button>
            </div>-->
            <div class="container justify-content-center mt-4">
                <div class="d-flex justify-content-around">
                    <img src="../static/images/summerfour.png" alt="dress">
                    <img src="../static/images/summerone.png" alt="dress">
                    <img src="../static/images/summertwo.png" alt="dress">
                </div>
                <!--<div class="d-flex justify-content-around">
                    <button class="btn btn-primary  my-2 p-3 ">Buy</button>
                    <button class="btn btn-primary  my-2 p-3 ">Buy</button>
                    <button class="btn btn-primary  my-2 p-3 ">Buy</button>
                </div>-->
            </div>
        </div>

    </div>
    </div>
{% endblock %}